<form class="new_user" action="/users" method="post">
	<input type="text" name="users[username]" placeholder="username">
	<input type="password" name="users[password]" placeholder="password">
	<input type="submit" value="Create User">
</form>