<form id="answer_comments" method="post" action="/comments">
  Comment here:
  <input type="hidden" name="comment[commentable_id]" value="<%= answer.id %>">
  <input type="hidden" name="comment[commentable_type]" value="Answer">
  <input type="textarea" name="comment[body]" placeholder="body">
  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="submit new comment">
</form>
